{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "rules": {
    "no-plusplus": 1,
    "no-unused-expressions": [
      "error",
      { "allowShortCircuit": true, "allowTernary": true }
    ],
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "parent", "sibling", "index"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc" }
      }
    ],
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/group-exports": 1,
    "import/no-cycle": 1
  }
}
